# telegram settings
TELEGRAM__BOT_TOKEN=1234567890:TokenLookingSomethingLikeThat
TELEGRAM__CREATOR_ID=1234567890
TELEGRAM__WEBHOOK_URL=https://your.webhookurl.com
TELEGRAM__WEBHOOK_SECRET=here_is_your_secret

# postgresql settings
DATABASE__HOST=postgres # or postgres_dev for development
DATABASE__PORT=5432
DATABASE__USER=psql_db_env_example
DATABASE__PASSWORD=passwordexample
DATABASE__BASENAME=psql_db_env_example

# project settings
TIMEZONE=UTC or any timezone you need
POLLING_MODE=False

# ssl settings
WEBHOOK_DOMAIN=your.webhookurl.com
DASHBOARD_USER=your_username

# need bcrypt-hash password! generate it and "PUT DAT PASSWORD DOWN! NOW!" (с)
# you need to escape $ symbols in the DASHBOARD_PASS with a backslash (\$) or
# wrap the entire password in single quotes (') to prevent shell interpretation.
DASHBOARD_PASS='your_dashboard_password'

# ssl certificate settings (traefik)
ACME_EMAIL=your@e_mail.com

# rabbit settings
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=admin
RABBITMQ__PASSWORD=password

# n8n settings
N8N_USER=admin
N8N_PASSWORD=password
N8N_DBNAME=n8n_db
N8N_WEBHOOK_URL=https://n8n.your.webhookurl.com
N8N_WEBHOOK_DOMAIN=n8n.your.webhookurl.com
N8N_WEBHOOK_HEADER=X-Your-Name-Of-Secret-Header
N8N_WEBHOOK_SECRET=here_is_your_another_one_secret

# Whitelist IP addresses
# Telegram API IP ranges (for webhook endpoints)
WHITELIST__TELEGRAM_IPS=149.154.160.0/20,91.108.4.0/22

# Server/localhost IPs
WHITELIST__LOCALHOST=127.0.0.1/32

# All IPs for access n8n service
WHITELIST__ADDITIONAL_IPS=your_ips_separated_by_comma
