# telegram settings
TELEGRAM__BOT_TOKEN=your_bot_token_here
TELEGRAM__CREATOR_ID=creator_user_id_here
TELEGRAM__WEBHOOK_URL=your_webhook_url_here
TELEGRAM__WEBHOOK_SECRET=your_webhook_secret_here

# postgresql settings
DATABASE__HOST=postgres_service_name
DATABASE__PORT=5432
DATABASE__USER=your_pg_user_here
DATABASE__PASSWORD=your_pg_password_here
DATABASE__BASENAME=your_pg_database_here

# project settings
TIMEZONE=your_timezone_here
POLLING_MODE=False

# ssl settings
WEBHOOK_DOMAIN=your_domain_here_without_https
DASHBOARD_USER=your_dashboard_username

# need bcrypt-hash password! generate it and "PUT DAT PASSWORD DOWN! NOW!" (с)
# you need to escape $ symbols in the DASHBOARD_PASS with a backslash (\$) or
# wrap the entire password in single quotes (') to prevent shell interpretation.
DASHBOARD_PASS=your_dashboard_password

# ssl certificate settings (traefik)
ACME_EMAIL=your_acme_email_here

# rabbit settings
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=admin
RABBITMQ__PASSWORD=password
